---
title: Blackbird Yoga Studio | Meet Our Team
description: Blackbird Yoga Studio, a Yoga Studio located in Haworth New Jersey. Nicole D'Andrea - director.
layout: article-vue.hbt
---

<main class="team content-page">
  <section class="article-intro section-spacing">
    <h1>Meet your instructors</h1>
    <h3>Our Studio</h3>
    <img src="/img/team/hero.jpg" alt="Meet Our Team" class="img-responsive">
  </section>
  <section class="team--intro">
    <div class="container section txt-center">
      <p>“Blackbird Yoga Studio has provided me with a place to go to clear my head, move and find my center. The
        teachers are talented, non-judgemental and accepting - always helping students reach their full potential, both
        physically and mentally. Blackbird is one of my favorite places to go and I feel grateful to have stumbled upon
        it. It has changed my life.”</p>
      <p>Keri D.</p>
    </div>
  </section>
  <section class="team--callout">
    <h2>Our Team<h2>
  </section>
  <section class="team--members container section">
    <div class="team--individual">
      <div class="team--individual-img">
        <img src="/img/team/nicole.jpg" class="team-image" alt="Nicole D'Andrea" data-name="nicole" />
        <div id="nicole">
            <div id="show-modal" @click="showModal = true" class="team--individual-name">
              <h3>Nicole D'Andrea</h3>
              <a>Learn More</a>
            </div>
            <!-- use the modal component, pass in the prop -->
            <modal v-if="showModal" @close="showModal = false">
              <div slot="body" class="modal-content">
                <div class="modal-content_img">
                  <img src="/img/team/nicole-modal.jpg" alt="" class="img-responsive">
                </div>
                <div class="modal-content_text">
                  <h2>Nicole D'Andrea</h2>
                  <p>Nicole D’Andrea, E-RYT-200, YACEP, is the proud owner and lead teacher of Blackbird Yoga Studio. She graduated
                      from the Garden State Yoga teacher training program in the spring of 2013 under Jody Domerstad and has been teaching
                      wholeheartedly ever since. She came to yoga as a means of reducing stress and tension in her life during college
                      and quickly found so much more. She learned that the regular practice of yoga not only transformed her body,
                      but allowed her to start a conversation with herself that continues to reveal the nature of her soul.</p>
                    <p>Nicole holds a deep love for the human form and is formally educated in movement science and therapeutic exercise.
                      She has worked professionally with the body since 2007 and she is passionate about helping others feel better
                      in their bodies. She has been invited to lead yoga teacher trainings on the anatomy of yoga asana and has been
                      praised for her easy manner and accessible approach to a complex subject.</p>
                    <p>In April of 2014, she completed an advanced training in bhakti yoga at Laughing Lotus NYC during which she learned
                      to merge her two great loves: movement and sound.</p>
                    <p>Nicole is honored to share her knowledge and lead a class that's full of creativity, music, healing, and heart.</p>
                </div>
              </div>
            </modal>
          </div>
      </div>
    </div>
    <div class="team--individual">
      <div class="team--individual-img">
        <img src="/img/team/steve.jpg" class="team-image" alt="Steve Dessimone" data-name="steve" />
        <div id="steve">
            <div id="show-modal" @click="showModal = true" class="team--individual-name">
              <h3>Steve Dessimone</h3>
              <a>Learn More</a>
            </div>
            <!-- use the modal component, pass in the prop -->
            <modal v-if="showModal" @close="showModal = false">
              <div slot="body" class="modal-content">
                <div class="modal-content_img">
                  <img src="/img/team/steve-modal.jpg" alt="" class="img-responsive">
                </div>
                <div class="modal-content_text">
                  <h2>Steve Dessimone</h2>
                  <p>As a child, Steve's favorite movie was the Teenage Mutant Ninja Turtles. In it, there are scenes when the Turtles sit and meditate, 
                      and although the movie is full of action and adventure, these scenes captured a deeper part of his attention and curiosity.
                      Seeds were planted, and only when he began practicing meditation almost 20 years later, did he realize that he’d
                      been storing them in the depths of his mind since childhood, and now was the time to cultivate. </p>
                    <p>After a few months of meditation practice, sitting comfortably was, well…not so comfortable. At this time, Steve’s
                      study of eastern philosophy was burgeoning and through this study, he noticed that yoga was also mentioned quite
                      frequently along with meditation. It was clear that this was the next step.</p>
                    <p>Since then, he has studied in the traditions of Intergral, Iyengar, and Ashtanga yoga, infusing all three into
                      his personal practice and always keeping meditation as the cornerstone. In 2016, he completed his 200 hour teacher
                      training at Naturally Yoga and considers Veronica Yacco, Neil and Sheryl Edsall, as the springs from which he
                      has been blessed with these teachings. Steve believes that in this life, the body and mind are the instruments
                      with which we’ve been given to perform, and yoga is how we tune them. </p>
                </div>
              </div>
            </modal>
          </div>
      </div>
    </div>
    <div class="team--individual">
      <div class="team--individual-img">
        <img src="/img/team/kaelyn.jpg" class="team-image" alt="Kaelyn Siversky" data-name="kaelyn" />
        <div id="kaelyn">
            <div id="show-modal" @click="showModal = true" class="team--individual-name">
              <h3>Kaelyn Siversky</h3>
              <a>Learn More</a>
            </div>
            <!-- use the modal component, pass in the prop -->
            <modal v-if="showModal" @close="showModal = false">
              <div slot="body" class="modal-content">
                <div class="modal-content_img">
                  <img src="/img/team/kaelyn-modal.jpg" alt="" class="img-responsive">
                </div>
                <div class="modal-content_text">
                  <h2>Kaelyn Siversky</h2>
                  <p>Kaelyn has been practicing yoga for since 2007 and her love for both the physical and philosophical practice has
                      been a defining element in her life since she first sat in a yoga class. Kaelyn specializes in weaving proper
                      alignment into steady flows with a focus on sequencing. Each class will be challenging, encouraging, and always
                      playful. Yoga has created a space in Kaelyn's life for courageousness, honesty, trust and love both on and off
                      the mat. She received her yoga certification in 2012 from Yoga Mechanics. She has immense gratitude for all of
                      the amazing teachers who have taught her along the way. </p>
                </div>
              </div>
            </modal>
          </div>
      </div>
    </div>
    <div class="team--individual">
      <div class="team--individual-img">
        <img src="/img/team/ina.jpg" class="team-image" alt="Ina Cabrera" data-name="ina" />
        <div id="ina">
            <div id="show-modal" @click="showModal = true" class="team--individual-name">
              <h3>Ina Cabrera</h3>
              <a>Learn More</a>
            </div>
            <!-- use the modal component, pass in the prop -->
            <modal v-if="showModal" @close="showModal = false">
              <div slot="body" class="modal-content">
                <div class="modal-content_img">
                  <img src="/img/team/ina-modal.jpg" alt="" class="img-responsive">
                </div>
                <div class="modal-content_text">
                  <h2>Ina Cabrera</h2>
                  <p>When Ina was 18, she attended a free 2 1/2 hour yoga class. At the time she thought it was “super weird” but couldn't
                      believe how good she felt afterward. Ten years later, she began to take prenatal yoga classes to help her through
                      the discomforts she felt during pregnancy. Ten years after that, she signed up for a yoga membership at a local
                      gym, almost on a whim. As she began to notice how significantly yoga was impacted and transformed many areas
                      of her life, her practice became steadier and something she learned to depend on as an anchor. Yoga, along with
                      the support from her teachers and other students, has helped bring healing and self awareness to her life.</p>
                    <p>Ina believes that a focus on alignment and maintaining a feeling of softness allows the breath flow freely through
                      the body to maximize healing. She also incorporates elements from her practice of Tai Chi into her classes. It
                      gives her great joy to be able to share the tools that have helped her through her life journey with others.</p>
                </div>
              </div>
            </modal>
          </div>
      </div>
    </div>
    <div class="team--individual">
      <div class="team--individual-img">
        <img src="/img/team/lauren.jpg" class="team-image" alt="Lauren Pendergast" data-name="lauren" />
        <div id="lauren">
          <div id="show-modal" @click="showModal = true" class="team--individual-name">
            <h3>Lauren Pendergast</h3>
            <a>Learn More</a>
          </div>
          <!-- use the modal component, pass in the prop -->
          <modal v-if="showModal" @close="showModal = false">
            <div slot="body" class="modal-content">
              <div class="modal-content_img">
                <img src="/img/team/lauren-modal.jpg" alt="" class="img-responsive">
              </div>
              <div class="modal-content_text">
                <h2>Lauren Pendergast</h2>
                <p>Lauren began sporadically taking yoga classes in college but became more dedicated to her practice during grad
                    school as a way to combat the stressful academic environment. She was drawn to the movement and flow of vinyasa
                    yoga after years of studying dance as a young girl. Learning to trust her body and surrender to the practice
                    created more confidence and self-acceptance than she could have imagined.</p>
                  <p>Lauren completed her 200 hour teacher training through the Powerflow School of Yoga with Stacey Bell and Carrie
                    Parker Gastelu. Beyond practicing asanas, through study and self-reflection Lauren believes yoga has the power
                    to transform your mind and body in a powerful way. Lauren's classes infuse thoughtful sequencing with fun music
                    (and maybe a witty comment or two) to create a challenging yet playful flow. Lauren hopes to instill in her students
                    a love of yoga, the passion to continue the practice, and the confidence to try new things both on and off the
                    mat.</p>
              </div>
            </div>
          </modal>
        </div>
      </div>
    </div>
    <div class="team--individual">
      <div class="team--individual-img">
        <img src="/img/team/danielle.jpg" class="team-image" alt="Danielle Kasen" data-name="danielle" />
        <div id="danielle">
          <div id="show-modal" @click="showModal = true" class="team--individual-name">
            <h3>Danielle Kasen</h3>
            <a>Learn More</a>
          </div>
          <!-- use the modal component, pass in the prop -->
          <modal v-if="showModal" @close="showModal = false">
            <div slot="body" class="modal-content">
              <div class="modal-content_img">
                <img src="/img/team/danielle-modal.jpg" alt="" class="img-responsive">
              </div>
              <div class="modal-content_text">
                <h2>Danielle Kasen</h2>
                <p>Danielle started her spiritual journey at a young age by being exposed to incredible teachers: Ram Dass, Krishna Das, Nina Rao, Rameshwar Das and many others who taught her the lessons given by Neem Karoli Baba (also known as Maharajji). She grew up hearing incredible stories about close family and friends and their adventures in India and she always knew she would one day be a world traveler and yogi. She worked for most of her adult life as an actor and comedy writer before venturing off to China to work as a teacher for four years where she studied more about Buddhism, Taoism, Mandarin and Traditional Chinese Medicine. Since her return to the U.S. she decided it was time to continue her teaching in the classroom as well as become a student in Blackbird’s Yoga Teacher Training program. She loves teaching yoga, loves the friends she made in teacher training, loves her teachers and loves Blackbird.</p>
              </div>
            </div>
          </modal>
        </div>
      </div>
    </div>
    <div class="team--individual">
      <div class="team--individual-img">
        <img src="/img/team/jen.jpg" class="team-image" alt="Jen Tapia" data-name="jen" />
        <div id="jen">
          <div id="show-modal" @click="showModal = true" class="team--individual-name">
            <h3>Jennifer Tapia</h3>
            <a>Learn More</a>
          </div>
          <!-- use the modal component, pass in the prop -->
          <modal v-if="showModal" @close="showModal = false">
            <div slot="body" class="modal-content">
              <div class="modal-content_img">
                <img src="/img/team/jen-modal.jpg" alt="" class="img-responsive">
              </div>
              <div class="modal-content_text">
                <h2>Jennifer Tapia</h2>
                <p>Yoga has intrigued Jen for years, but she didn’t think it could be for her. Meditation classes,
                  words of wisdom from others and time spent soul searching helped spark her interest more. In December
                  2017, Jen had her first yoga experience at Blackbird Yoga Studio. From that day forward she fell in
                  love with the practice, enrolled in Nicole D’Andrea’s 200 Hour Yoga Teacher Training program and
                  graduated in June of 2018. She is filled with appreciation for the BYS teachers sharing their passion
                  of yoga with her and stoking the fire within. Yoga has done wonders for Jen’s body, spirit and mind.
                  She is grateful for the opportunity to gently guide others in their own practice with support, proper
                  alignment, pranayama and positive energy.</p>
              </div>
            </div>
          </modal>
        </div>
      </div>
    </div>
    <div class="team--individual">
      <div class="team--individual-img">
        <img src="/img/team/kathleen.jpg" class="team-image" alt="Kathleen Philip" data-name="kathleen" />
        <div id="kathleen">
          <div id="show-modal" @click="showModal = true" class="team--individual-name">
            <h3>Kathleen Philips</h3>
            <a>Learn More</a>
          </div>
          <!-- use the modal component, pass in the prop -->
          <modal v-if="showModal" @close="showModal = false">
            <div slot="body" class="modal-content">
              <div class="modal-content_img">
                <img src="/img/team/kathleen-modal.jpg" alt="" class="img-responsive">
              </div>
              <div class="modal-content_text">
                <h2>Kathleen Philips</h2>
                <p>Kathleen has been studying dance and movement for a large part of her life. She studied ballet, jazz
                  and tap (her favorite) as a young child and continued on through college and as a young adult.
                  Structured dance morphed into Aerobics and other types of dance inspired fitness routines but she
                  never forgot those early years. After different injuries sidelined her current fitness routine, she
                  decided on a whim to venture into Blackbird Yoga Studio and that day changed her life. She quickly
                  realized how much she loved the practice of yoga and the community that surrounded it.
                  Stepping onto her mat every day has allowed her in the simplest terms the ability to connect with her
                  mind, body and spirit. Kathleen completed her 200 Hour Teacher Training at Blackbird Yoga Studio in
                  June of 2018. </p>
              </div>
            </div>
          </modal>
        </div>
      </div>
    </div>
    <div class="team--individual">
      <div class="team--individual-img">
        <img src="/img/team/ashley.jpg" class="team-image" alt="Ashley Vernick" data-name="ashley" />
        <div id="ashley">
          <div id="show-modal" @click="showModal = true" class="team--individual-name">
            <h3>Ashley Vernick</h3>
            <a>Learn More</a>
          </div>
          <!-- use the modal component, pass in the prop -->
          <modal v-if="showModal" @close="showModal = false">
            <div slot="body" class="modal-content">
              <div class="modal-content_img">
                <img src="/img/team/ashley-modal.jpg" alt="" class="img-responsive">
              </div>
              <div class="modal-content_text">
                <h2>Ashley Vernick</h2>
                <p>Ashley received her B.S. in Business Management from the University of Phoenix and spent the first 12 years of her career as a business leader for several top retailers.  She had always had such a passion for coaching her teams and helping them grow their own career, that it led to her starting her own business as a life coach.</p>
                <p>In 2014 Ashley completed her certification as a Law of Attraction life coach and quickly fell in love with her new path. After 2 years of additional training and coaching clients on the side, she left her long-term career in retail to focus on her coaching business full time.   </p>
                <p>Ashley experienced her first yoga class while in college and was surprised how peaceful she felt after.  She continued to practice here and there over the years but it was in 2017 after some painful life events that she began to deepen her practice as a way to support her own healing.  It felt like the missing piece in her life and when the opportunity came about to become a teacher the decision was really a no-brainer. In 2018 Ashley completed her 200 hour Yoga Teacher Training at Blackbird Yoga Studio with Nicole D'Andrea. As both a teacher and a coach, Ashley hopes to help others become more in tune with themselves mind, body and spirit, trust their own inner voice and hold a safe and sacred space for them to support their own healing and growth.</p>
              </div>
            </div>
          </modal>
        </div>
      </div>
    </div>
    <div class="team--individual">
      <div class="team--individual-img">
        <img src="/img/team/valerie.jpg" class="team-image" alt="Valerie Mitchell" data-name="valerie" />
        <div id="valerie">
            <div id="show-modal" @click="showModal = true" class="team--individual-name">
            <h3>Valerie Mitchell</h3>
            <a>Learn More</a>
          </div>
          <!-- use the modal component, pass in the prop -->
          <modal v-if="showModal" @close="showModal = false">
            <div slot="body" class="modal-content">
              <div class="modal-content_img">
                <img src="/img/team/valerie-modal.jpg" alt="" class="img-responsive">
              </div>
              <div class="modal-content_text">
                <h2>Valerie Mitchell</h2>
                <p>Valerie spent the last 15 years exploring various paths of yoga before deciding to fulfill her dream
                  of becoming a teacher. She completed her 200 Hour Teacher Training at Juluka Yoga Studio in
                  Hillsdale, NJ. In deepening her own awareness and understanding of the principles of Hatha yoga, she
                  learned that there is no “one way” to practice and you need not to be a former gymnast to partake in
                  all the benefits that yoga has to offer. Yoga has also been a beneficial oasis away from the
                  high-stress demands of her meeting planning job. Valerie views teaching yoga as a way to increase
                  energy and awareness of your body through a variety of asanas while honoring your own unique level of
                  fitness. Her teaching style is accessible to all abilities and she has a keen interest in helping
                  beginners as well as those who want to age well and remain strong for years to come. A runner who has
                  completed five marathons and numerous road races, Valerie is passionate about bringing this moving
                  meditation to those who want to gain or maintain flexibility while pursuing sports activities like
                  skiing, cycling, and golf. </p>
              </div>
            </div>
          </modal>
        </div>
      </div>
    </div>
    <div class="team--individual">
      <div class="team--individual-img">
        <img src="/img/team/dana.jpg" class="team-image" alt="Dana Guerrero" data-name="dana" />
        <div id="dana">
          <div id="show-modal" @click="showModal = true" class="team--individual-name">
            <h3>Dana Guerrero</h3>
            <a>Learn More</a>
          </div>
          <!-- use the modal component, pass in the prop -->
          <modal v-if="showModal" @close="showModal = false">
            <div slot="body" class="modal-content">
              <div class="modal-content_img">
                <img src="/img/team/dana-modal.jpg" alt="" class="img-responsive">
              </div>
              <div class="modal-content_text">
                <h2>Dana Guerrero</h2>
                <p>As a practicing psychotherapist for many years, Dana has always drawn upon physical activity to stay
                  healthy and maintain positive energy. Years ago she accidentally walked into a yoga class in a gym which changed
                  the course of her life. Unable to do many of the poses in class due to stiff joints from years of long distance
                  running, she returned to class each week upon the gentle encouragement of the instructor. In yoga, Dana found
                  the blend of physical, emotional, intellectual and spiritual liberation which no other activity had provided
                  before. </p>
                <p>Dana is a certified yoga instructor at the 200-hour level and is working towards her 500-hour
                  certification. Her teaching style reflects her love of the devotional and meditative aspects of yoga while providing a
                  light-hearted environment to grow and explore. "For all of my teachers and to the Great Teacher within...I am truly
                  thankful."</p>
              </div>
            </div>
          </modal>
        </div>
      </div>
    </div>
    <div class="team--individual">
      <div class="team--individual-img">
        <img src="/img/team/melissa.jpg" class="team-image" alt="Melissa Hanna" data-name="melissa" />
        <div id="melissa">
          <div id="show-modal" @click="showModal = true" class="team--individual-name">
            <h3>Melissa Hanna</h3>
            <a>Learn More</a>
          </div>
          <!-- use the modal component, pass in the prop -->
          <modal v-if="showModal" @close="showModal = false">
            <div slot="body" class="modal-content">
              <div class="modal-content_img">
                <img src="/img/team/melissa-modal.jpg" alt="" class="img-responsive">
              </div>
              <div class="modal-content_text">
                <h2>Melissa Hanna</h2>
                <p>As a practicing psychotherapist for many years, Dana has always drawn upon physical activity to stay
                  healthy and maintain positive energy. Years ago she accidentally walked into a yoga class in a gym which changed
                  the course of her life. Unable to do many of the poses in class due to stiff joints from years of long distance
                  running, she returned to class each week upon the gentle encouragement of the instructor. In yoga, Dana found
                  the blend of physical, emotional, intellectual and spiritual liberation which no other activity had provided
                  before. </p>
                <p>Dana is a certified yoga instructor at the 200-hour level and is working towards her 500-hour
                  certification. Her teaching style reflects her love of the devotional and meditative aspects of yoga while providing a
                  light-hearted environment to grow and explore. "For all of my teachers and to the Great Teacher within...I am truly
                  thankful."</p>
              </div>
            </div>
          </modal>
        </div>
      </div>
    </div>
  </section>
</main>