.class-description {
    max-width: 591px;
    &--title {
        margin-bottom: 18px;
        display: flex;
        align-items: center;
        h4 {
            margin-bottom: 0;
            font-size: 28px;
            font-family: $bodyFont;
        }
        img {
            margin-left: 14px;
        }
    }
}

.classes-imgBG-1 {
    @include mq(medium) {
        background: url('/img/classes/classes-1.jpg') no-repeat left;
        background-position-y: 25px;
        background-size: auto;
        background-size: 45%;
        padding-top: 9.5em;
        padding-bottom: 10.25em;
    }
}

.classes-imgBG-2 {
    @include mq(medium) {
        background: url('/img/classes/classes-2.jpg') no-repeat right;
        background-size: auto;
        background-size: 45%;
        padding-top: 6em;
        padding-bottom: 9em;
    }
}

.classes-callout {
    @include mq(medium) {
        margin-top: 6.5em;
    }
    .column {
        padding-top: 0;
        padding-bottom: 0;
        @include mq(medium) {
            height: 450px;
            padding: 0;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 0;
            @include mq(medium) {
                border-radius: 12px 0 0 48px;
                box-shadow: 0 8px 38px 5px rgba(0, 0, 0, 0.1), 0 2px 16px 0 rgba(0, 0, 0, 0.1);
            }
        }
    }
    &_testimony {
        padding: 2em;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $secondary-color;
        @include mq(medium) {
            padding: inherit;
            border-radius: 0 48px 12px 0;
            box-shadow: 0 8px 38px 5px rgba(0, 0, 0, 0.1), 0 2px 16px 0 rgba(0, 0, 0, 0.1);
        }
        p {
            text-align: center;
            max-width: 489px;
            &:last-of-type {
                margin-top: 12px;
                margin-bottom: 24px;
            }
        }
    }
}
