.contact {
    &--hero {
        @include hero-img(url('/img/contact-hero.jpg'));
    }

    &--content {
        > div {
            flex: 1;
        }

        &-info {
            padding: 1.25em;
            border: 1px solid #dedede;
            background: #f8f8f8;
            &-directions {
                margin-top: 1em;
            }
        }
    }
    .global--icon-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}
