.massage {
    &--intro {
        background: url(/img/massage/intro-img.jpg) no-repeat center;
        background-size: cover;
        > div {
            p {
                max-width: 578px;
            }
        }
    }
    &--services {
        &_item {
            margin-bottom: 75px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            @include mq(medium) {
                margin-bottom: 125px;
                flex-direction: row;
                align-items: flex-start;
            }

            &_text {
                max-width: 475px;
                flex: 1;
                text-align: center;

                @include mq(medium) {
                    text-align: left;
                }
            }

            &_img {
                max-width: 578px;
                flex: 2;
                order: 2;

                @include mq(medium) {
                    order: initial;
                }
            }
        }
    }

    &--rates {
        padding: 5em calc(50% - 600px);
        background: #a8c0ff;
        background: -webkit-gradient(linear, left top, left bottom, from(#a8c0ff), to($secondary-color));
        background: linear-gradient(to bottom, #a8c0ff, $secondary-color);

        &_wrapper {
            display: flex;
            flex-direction: column;

            @include mq(medium) {
                flex-direction: row;
            }
        }

        &_calendar {
            margin-left: auto;
            margin-right: auto;
            max-width: 550px;
            padding: 2em;
            flex: 1;
            background: #fff;
        }

        &_grid {
            margin-top: 50px;
            flex: 1;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            @include mq(medium) {
                margin-top: initial;
                margin-left: 20px;
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(2, 1fr);
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
            }

            .pricing-card {
                max-width: 300px;

                @include mq(small) {
                    max-width: initial;
                }
            }
        }
    }

    &--teachers {
        padding-top: 5em;

        &_wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include mq(small) {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
            }
        }
    }

    &--callout {
        padding: 150px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url('/img/massage/callout.jpg') no-repeat center center;
        background-size: cover;
        color: #fff;

        h3 {
            margin-bottom: 10px;
            font-size: 1.15rem;
            font-weight: 400;
            line-height: 1.25;

            @include mq(small) {
                font-size: 1.85rem;
            }
        }

        h2 {
            margin-bottom: 2.5px;
            font-size: 1.55rem;
            font-weight: 400;
            line-height: 1.25;

            @include mq(small) {
                margin-bottom: 7.5px;
                font-size: 2.15rem;
            }
        }
    }

    &--individual {
        margin: 0;
        margin-bottom: 1.5em;

        @include mq(small) {
            margin-bottom: initial;
        }

        &-img {
            position: relative;
        }

        &-name {
            padding: 6px 5px;
            bottom: 0;
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            color: #fff;
            background: hsla(191, 55%, 53%, 0.8);
            cursor: pointer;

            @include mq(small) {
                padding: 8px 10px;
            }

            h3 {
                margin-bottom: 0;
                font-size: 12px;
                font-weight: 400;

                @include mq(small) {
                    font-size: 18px;
                }
            }

            a {
                font-size: 8px;
                margin-bottom: 0;
                color: #fff;

                @include mq(small) {
                    font-size: 16px;
                }
            }
        }
    }
}
