.massage {
    &--rates {
        padding: 5em calc(50% - 600px);
        background: #a8c0ff;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #a8c0ff, $secondary-color);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #a8c0ff, $secondary-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        &_grid {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include mq(medium) {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(4, 1fr);
                align-items: flex-start;
            }

        }
    }
}