.massage {
    &--rates {
        padding: 5em calc(50% - 600px);
        background: #a8c0ff;
        background: -webkit-gradient(linear, left top, left bottom, from(#a8c0ff), to($secondary-color));
        background: linear-gradient(to bottom, #a8c0ff, $secondary-color); 
        &_grid {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            @include mq(medium) {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(4, 1fr);
                -webkit-box-align: start;
                    -ms-flex-align: start;
                        align-items: flex-start;
            }
        }
    }
}