.rates {
    padding-bottom: 0;

    &--hero {
        @include hero-img(url('/img/rates-hero.jpg'));
    }

    &--intro {
        >div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            >div {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;

                img {
                    margin: 0 auto;
                    width: 330px;
                }
            }
        }
    }

    &--category {
        padding: 7em calc(50% - 480px) 8em;

        &_grid {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include mq(small) {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
            }
            .pricing-card {
                max-width: 300px;
                @include mq(small) {
                    max-width: initial;
                }
            }
            .pricing-card_bottom {
                height: initial;
                @include mq(small) {
                    height: 255px;
                }
            }
        }
    }

    .wrapper-wide {
        padding: 7em calc(50% - 600px) 8em;
    }
}
