.btn {
    background: $primary-color;
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0.5px;
    max-height: 40px;
    line-height: 40px;
    padding: 0 25px;
    border: none;
    text-transform: capitalize;
    font-weight: 600;
    text-decoration: none;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.49, 0.99, 0.54, 0.98);

    &:hover {
        color: #fff;
        background: darken($primary-color, 15%);
        text-decoration: none;
    }
}

.btn-cta {
    background: #f8b6b4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    font-size: 18px;
    &:hover,
    &:focus {
        background: #f9a19f;
    }
}

.btn-ghost {
    background: inherit;
    border: 1px solid #fff;
}

.btn-submit {
    padding: 0 3em;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.nav-cta {
    background: $primary-color;
    padding: 0.5em 1em;
    color: white;
    border-radius: 2px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.49, 0.99, 0.54, 0.98);

    &:hover {
        color: #fff;
        background: darken($primary-color, 15%);
        text-decoration: none;
    }
}
