.pricing-card {
    min-width: 280px;
    margin-bottom: 50px;
    justify-self: center;
    text-align: center;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);

    @include mq(medium) {
        margin-bottom: 0;
    }

    &_top {
        padding: 1em 2.25em;
        color: #333;
        background: #fff;
        border-bottom: 1px solid hsla(0, 0%, 85%, .8);

        >p {
            font-size: 3rem;
            margin-bottom: 5px;
        }

        >h4 {
            margin-bottom: 0;
            font-size: 1.05rem;
            font-weight: 300;
        }
    }

    &_bottom {
        padding: 2em 2.5em;
        height: 175px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        >p {
            font-size: 1.15rem;
        }
    }
}

.pricing-card-mw {
    min-width: 300px;
}