.global--footer {
    width: 100%;
    color: #fff;
    background-color: #6D4DC6;

    &-wrapper {
        padding-top: 5%;
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include mq (small) {
            flex-direction: row;
        }

        > div {
            flex: 1;
        }
    }

    &-address {
        order: 2;
        @include mq (small) {
            order: 1;
        }

        > p {
            margin: 0;
            line-height: 1.5;
            text-align: center;
            @include mq (small) {
                text-align: left;
            }
        }

        > small {
            display: block;
            text-align: center;
            @include mq (small) {
                text-align: left;
            }
        }
    }

    &-social {
        margin-top: 1.25em;
        order: 1;
        @include mq (small) {
            margin-top: 0;
            order: 2;
        }

        a {
            > img {
                width: 125px;
                margin: 0 auto 0.35em;
            }
        }

        &-icons {
          margin-top: 1.25em;
            display: flex;
            justify-content: center;
            @include mq (small) {
              margin-top: 0; 

            }

            > img {
                width: 30px;
                margin-left: 0.25em;
                margin-right: 0.25em;
            }
        }
    }

    &-subscribe {
    margin-top: 1.25em;
        order: 3;
        text-align: center;
        @include mq (small) {
          margin-top: 0; 
        text-align: left;
        }
    }
}
