.global--footer {
    width: 100%;
    color: #fff;
    background-color: $bg-dark-gray;

    &-wrapper {
        padding-top: 10%;
        padding-bottom: 10%;
        display: flex;
        justify-content: space-between;
        > div {
          flex: 1;
        }
    }

    &-address {
        > p {
            margin: 0;
            line-height: 1.5;
        }
    }

    &-social {
        a {
            > img {
                width: 175px;
                margin-bottom: 0.35em;
            }
        }

        &-icons {
            display: flex;
            justify-content: space-around;
        }
    }
}
