.homepage {
    padding-top: 8em;
    padding-bottom: 1em;
}

.grid-two-across {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(small) {
        display: grid;
        grid-gap: 60px;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
    }
}
