---
title: Blackbird Yoga Studio | Massage Services
description: Blackbird Yoga Studio, a Yoga Studio located in Haworth New Jersey. Nicole D'Andrea - director.
layout: article-vue.hbt
---

<main class="team content-page">
    <section class="article-intro">
        <h1>Massage Services</h1>
        <h3>Your body is in good hands</h3>
        <img src="/img/massage/hero.jpg" alt="Massage" class="img-responsive" />
    </section>
    <section class="massage--intro section">
        <div class="container">
            <p class="has-margin-bottom-md">
                Self care takes many forms. Therapeutic touch and customized bodywork have endless benefits from
                decreased stress and anxiety to improved range of motion and decreased pain. Massage is the perfect
                compliment to any yoga practice.
            </p>
            <p class="">
                All of our Massage Therapists are experienced in a wide arrayof settings and techniques and are fully
                licensed by the state of NJ. During your massage, the studio is screened-off and fully closed to you for
                your privacy and comfort. Our therapists offer 60 and 90 minutes sessions on most weekdays, weekends and
                by special appointment.
            </p>
        </div>
    </section>
    <section class="massage--services section">
        <div class="wrapper-wide section-spacing">
            <div class="massage--services_item">
                <div class="massage--services_item_text">
                    <h3 class="is-size-3 mb25">Soothe</h3>
                    <p>
                        Soothe your mind and body. This feel-good massage combines elements of Swedish technique and
                        aromatherapy for full-body relaxation. Think long, slow strokes, pure lavender essential oil and
                        a warm eye pillow. Leave your worries at the door and practice true self care.
                    </p>
                </div>
                <div class="massage--services_item_img">
                    <img
                        src="/img/massage/soothe.jpg"
                        alt="Massage Therapist Working on a Client"
                        class="img-responsive"
                    />
                </div>
            </div>
            <div class="massage--services_item">
                <div class="massage--services_item_img">
                    <img
                        src="/img/massage/melt.jpg"
                        alt="Massage Therapist Working on a Client"
                        class="img-responsive"
                    />
                </div>
                <div class="massage--services_item_text">
                    <h3 class="is-size-3 mb25">Melt</h3>
                    <p>
                        Melt your stress away. This deeper massage combines targeted bodywork for your trouble areas
                        with delicious add-ons like hot stones and weighted blankets. Think medium-strong pressure and
                        warm, grounding oils. Let yourself root down into pure bliss.
                    </p>
                </div>
            </div>
            <div class="massage--services_item">
                <div class="massage--services_item_text">
                    <h3 class="is-size-3 mb25">Unravel</h3>
                    <p>
                        Unravel all of your body’s knots. This therapeutic massage combines elements of deep tissue and
                        targeted trigger point work to hone in on your problem areas. Think deeper, sustained pressure
                        and healing muscle butters to dissolve tension and leave you feeling whole again.
                    </p>
                </div>
                <div class="massage--services_item_img">
                    <img
                        src="/img/massage/unravel.jpg"
                        alt="Massage Therapist Working on a Client"
                        class="img-responsive"
                    />
                </div>
            </div>
        </div>
    </section>
    <section class="massage--rates">
        <h2 class="is-color-white is-centered is-size-3 mb50">Schedule &amp; Pricing</h2>
        <div class="massage--rates_wrapper">
            <div class="massage--rates_calendar">
                <script src="https://widgets.healcode.com/javascripts/healcode.js" type="text/javascript"></script>
                <healcode-widget
                    data-type="appointments"
                    data-widget-partner="object"
                    data-widget-id="264873714c0"
                    data-widget-version="0"
                ></healcode-widget>
            </div>
            <div class="massage--rates_grid">
                <div class="pricing-card">
                    <div class="pricing-card_top">
                        <p>$99</p>
                        <h4>60 Minute Massage</h4>
                    </div>
                    <div class="pricing-card_bottom">
                        <p>60 minutes of customized bodywork.</p>
                    </div>
                </div>
                <div class="pricing-card">
                    <div class="pricing-card_top">
                        <p>$120</p>
                        <h4>90 Minute Massage</h4>
                    </div>
                    <div class="pricing-card_bottom">
                        <p>90 minutes of customized bodywork.</p>
                    </div>
                </div>
                <div class="pricing-card">
                    <div class="pricing-card_top">
                        <p>$250</p>
                        <h4>Massage 3 Pack</h4>
                    </div>
                    <div class="pricing-card_bottom">
                        <p>Three 60 minute massages. No expiration.</p>
                        <small>($84 / session)</small>
                    </div>
                </div>
                <div class="pricing-card">
                    <div class="pricing-card_top">
                        <p>$400</p>
                        <h4>Massage 5 Pack</h4>
                    </div>
                    <div class="pricing-card_bottom">
                        <p>Five 60 minute massages. No expiration.</p>
                        <small>($80 / session)</small>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="massage--teachers container section-spacing">
        <h2 class="txt-center is-size-3 mb25">Our Massage Therapists</h2>
        <div class="massage--teachers_wrapper">
            <div class="massage--individual">
                <div class="massage--individual-img">
                    <img src="/img/massage/brandi.jpg" class="team-image" alt="Brandi O’Rourke" />
                    <div id="brandi">
                        <div id="show-modal" @click="showModal = true" class="team--individual-name">
                            <h3>Brandi O’Rourke</h3>
                            <a>Learn More</a>
                        </div>
                        <!-- use the modal component, pass in the prop -->
                        <modal v-if="showModal" @close="showModal = false">
                            <div slot="body" class="modal-content">
                                <div class="modal-content_img">
                                    <img src="/img/massage/brandi-modal.jpg" alt="" class="img-responsive" />
                                </div>
                                <div class="modal-content_text">
                                    <h2>Brandi O’Rourke</h2>
                                    <p>
                                        Brandi is a Licensed Massage Therapist and Reiki Master with over 13 years’
                                        experience in high end spas, sports rehabilitation facilities and physical
                                        therapy clinics. She graduated from Mount Royal University in Calgary Alberta
                                        Canada with a degree in Massage Therapy and Bodywork. She also attended Wild
                                        Rose College of Natural Healing focusing her studies in the areas of Reiki,
                                        Chakra Balancing and Crystal Therapy. This where she gained a deep understanding
                                        of soft tissue manipulation, sports related injury rehabilitation and the body’s
                                        energy system. Most recently, Brandi has been certified in Ashiatsu (barefoot
                                        massage utilizing the therapist’s feet and body weight) by DeepFeet Bar Therapy.
                                    </p>
                                    <p>
                                        After working locally in the City of Calgary, Brandi took the opportunity to
                                        travel the world while working as a massage therapist aboard Norwegian Cruise
                                        Lines. During this time, she visited over 23 countries. Upon her return, Brandi
                                        accepted a position working alongside Physical Therapists and Chiropractors at a
                                        Rehabilitation center, providing therapeutic massage and specializing in deep
                                        tissue, myofascial release, pre and post-natal and trigger-point massage.
                                        Brandi’s active lifestyle enables her to understand the needs of clients
                                        practicing yoga and how to keep them healthy and pain-free.
                                    </p>
                                </div>
                            </div>
                        </modal>
                    </div>
                </div>
            </div>
            <div class="massage--individual">
                <div class="massage--individual-img">
                    <img src="/img/massage/victoria.jpg" class="team-image" alt="Victoria Thomas" />
                    <div id="victoria">
                        <div id="show-modal" @click="showModal = true" class="team--individual-name">
                            <h3>Victoria Thomas</h3>
                            <a>Learn More</a>
                        </div>
                        <!-- use the modal component, pass in the prop -->
                        <modal v-if="showModal" @close="showModal = false">
                            <div slot="body" class="modal-content">
                                <div class="modal-content_img">
                                    <img src="/img/massage/victoria-modal.jpg" alt="" class="img-responsive" />
                                </div>
                                <div class="modal-content_text">
                                    <h2>Victoria Thomas</h2>
                                    <p>
                                        Victoria received her certification and NJ license in Massage and Bodywork
                                        Therapy from Sun Institute of NJ. She became certified by the American
                                        Association of Drugless Practitioners as a Health Counselor from the Institute
                                        for Integrative Nutrition in 2010. Victoria is affiliated with the American
                                        Massage Therapy Association and assists/mentors current students at Sun
                                        Institute for Massage Therapy. Victoria is also certified in CPR and First Aid.
                                    </p>
                                    <p>
                                        Victoria’s method in practice is to create a customized interaction of bodywork
                                        therapy for her clients’ overall wellness. Currently, her experience in bodywork
                                        modalities is in traditional Swedish (circulation and relaxation), Deep tissue
                                        (trigger point), Sports Massage/Assisted Stretch for increased range of motion
                                        and Reflexology.
                                    </p>
                                    <p>
                                        Victoria’s mission and dedication are to provide clients with nurturing
                                        treatments and continuing education to promote relaxation and whole-body
                                        self-healing. She leads body therapy treatments that respect and utilize the
                                        synergy of the human mind, body, and spirit for unlimited results.
                                    </p>
                                </div>
                            </div>
                        </modal>
                    </div>
                </div>
            </div>
            <div class="massage--individual">
                <div class="massage--individual-img">
                    <img src="/img/massage/veronica.jpg" class="team-image" alt="Veronica Busciglio" />
                    <div id="veronica">
                        <div id="show-modal" @click="showModal = true" class="team--individual-name">
                            <h3>Veronica Busciglio</h3>
                            <a>Learn More</a>
                        </div>
                        <!-- use the modal component, pass in the prop -->
                        <modal v-if="showModal" @close="showModal = false">
                            <div slot="body" class="modal-content">
                                <div class="modal-content_img">
                                    <img src="/img/massage/veronica-modal.jpg" alt="" class="img-responsive" />
                                </div>
                                <div class="modal-content_text">
                                    <h2>Veronica Busciglio</h2>
                                    <p>
                                        Veronica Busciglio is a Registered Nurse and Certified Massage Therapist (550
                                        hr) and is consistent in taking continuing education courses and expanding her
                                        skill set. She specializes in pre-natal, infant, deep tissue, sports massage,
                                        Shiatsu and Swedish massage as well as reflexology.
                                    </p>
                                    <p>
                                        Veronica resides in New Jersey with her two boys and her family is her greatest
                                        joy. She says that her main goal in life is to raise her children in a happy,
                                        healthy environment and to help guide them to be the best they can be so they
                                        may find their happiness through love and light. Veronica enjoys practicing and
                                        teaching yoga, pilates, hiking, bouldering and working out. She enjoys the beach
                                        and exploring the outdoors. She puts much focus on health and well-being,
                                        cooking and spending time with her loved ones.
                                    </p>
                                    <p>
                                        Veronica chooses to use only products that are pure, organic and non-toxic
                                        during her treatments. Her goal is for you to leave her table with a relaxed
                                        mind, a rejuvenated body, and an uplifted spirit.
                                    </p>
                                </div>
                            </div>
                        </modal>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="massage--callout">
        <h3 class="txt-center">A special gift for first time massage clients</h3>
        <h2 class="txt-center">60 minute massage for only $60</h2>
        <p class="txt-center">(Use code FIRSTMASSAGE at checkout)</p>
        <div class="btn-cta has-margin-top-md">
            <script src="https://widgets.healcode.com/javascripts/healcode.js" type="text/javascript"></script>
            <healcode-widget
                data-version="0.2"
                data-link-class="healcode-pricing-option-text-link"
                data-site-id="19952"
                data-mb-site-id="678217"
                data-type="pricing-link"
                data-inner-html="Buy Now"
                data-service-id="10231"
            ></healcode-widget>
        </div>
    </section>
</main>
