---
title: Blackbird Yoga Studio | Massage Services
description: Blackbird Yoga Studio, a Yoga Studio located in Haworth New Jersey. Nicole D'Andrea - director.
layout: article-vue.hbt
---

<main class="team content-page">
    <section class="article-intro">
        <h1>Massage Services</h1>
        <h3>Your body is in good hands</h3>
        <img src="/img/massage/hero.jpg" alt="Massage" class="img-responsive" />
    </section>
    <section class="massage--intro section">
        <div class="container">
            <p class="has-margin-bottom-md">Therapeutic touch and customized bodywork have endless benefits, from decreased stress and anxiety to improved range of motion and decreased pain. Massage is the perfect complement to any yoga practice. With flexible appointment times and a range of massage packages, Blackbird makes it easy to fit self-care into your schedule.</p>
            <p class="has-margin-bottom-md">Our newly renovated massage room provides a dedicated space for massage therapy in a serene, cozy oasis. </p>
            <p class="has-margin-bottom-md">All of our massage therapists have experience in a wide array of settings and techniques, and they are fully licensed by the state of New Jersey. Our therapists offer 60- and 90-minute massage sessions on most weekdays and weekends, as well as by special appointment.</p>
        </div>
    </section>
    <section class="massage--services section">
        <div class="wrapper-wide section-spacing">
            <div class="massage--services_item">
                <div class="massage--services_item_text">
                    <h3 class="is-size-3 mb25">Soothe</h3>
                    <p>
                        Soothe your mind and body. This feel-good massage combines elements of Swedish technique and
                        aromatherapy for full-body relaxation. Think long, slow strokes, pure lavender essential oil and
                        a warm eye pillow. Leave your worries at the door and practice true self care.
                    </p>
                </div>
                <div class="massage--services_item_img">
                    <img
                        src="/img/massage/soothe.jpg"
                        alt="Massage Therapist Working on a Client"
                        class="img-responsive"
                    />
                </div>
            </div>
            <div class="massage--services_item">
                <div class="massage--services_item_img">
                    <img
                        src="/img/massage/melt.jpg"
                        alt="Massage Therapist Working on a Client"
                        class="img-responsive"
                    />
                </div>
                <div class="massage--services_item_text">
                    <h3 class="is-size-3 mb25">Melt</h3>
                    <p>
                        Melt your stress away. This deeper massage combines targeted bodywork for your trouble areas
                        with delicious add-ons like hot stones and weighted blankets. Think medium-strong pressure and
                        warm, grounding oils. Let yourself root down into pure bliss.
                    </p>
                </div>
            </div>
            <div class="massage--services_item">
                <div class="massage--services_item_text">
                    <h3 class="is-size-3 mb25">Unravel</h3>
                    <p>
                        Unravel all of your body’s knots. This therapeutic massage combines elements of deep tissue and
                        targeted trigger point work to hone in on your problem areas. Think deeper, sustained pressure
                        and healing muscle butters to dissolve tension and leave you feeling whole again.
                    </p>
                </div>
                <div class="massage--services_item_img">
                    <img
                        src="/img/massage/unravel.jpg"
                        alt="Massage Therapist Working on a Client"
                        class="img-responsive"
                    />
                </div>
            </div>
        </div>
    </section>
    <section class="massage--rates">
        <h2 class="is-color-white is-centered is-size-3 mb50">Schedule &amp; Pricing</h2>
        <div class="massage--rates_wrapper">
            <div class="massage--rates_calendar">
                <script src="https://widgets.healcode.com/javascripts/healcode.js" type="text/javascript"></script>
                <healcode-widget
                    data-type="appointments"
                    data-widget-partner="object"
                    data-widget-id="264873714c0"
                    data-widget-version="0"
                ></healcode-widget>
            </div>
            <div class="massage--rates_grid">
                <div class="pricing-card">
                    <div class="pricing-card_top">
                        <p>$99</p>
                        <h4>60 Minute Massage</h4>
                    </div>
                    <div class="pricing-card_bottom">
                        <p class="is-size-6">60 minutes of customized bodywork.</p>
                        <div class="btn-cta">
                            <script
                                src="https://widgets.healcode.com/javascripts/healcode.js"
                                type="text/javascript"
                            ></script>
                            <healcode-widget data-version="0.2" data-link-class="healcode-pricing-option-text-link" data-site-id="19952" data-mb-site-id="678217" data-type="pricing-link" data-inner-html="Buy Now" data-service-id="10231" />
                        </div>
                    </div>
                </div>
                <div class="pricing-card">
                    <div class="pricing-card_top">
                        <p>$120</p>
                        <h4>90 Minute Massage</h4>
                    </div>
                    <div class="pricing-card_bottom">
                        <p class="is-size-6">90 minutes of customized bodywork.</p>
                        <div class="btn-cta">
                            <script
                                src="https://widgets.healcode.com/javascripts/healcode.js"
                                type="text/javascript"
                            ></script>
                            <healcode-widget data-version="0.2" data-link-class="healcode-pricing-option-text-link" data-site-id="19952" data-mb-site-id="678217" data-type="pricing-link" data-inner-html="Buy Now" data-service-id="10232" />
                        </div>
                    </div>
                </div>
                <div class="pricing-card">
                    <div class="pricing-card_top">
                        <p>$89</p>
                        <h4>60 Minute Massage Membership</h4>
                    </div>
                    <div class="pricing-card_bottom">
                        <p class="is-size-7">One 60 Minute Massage / Month</p>
                        <p class="is-size-7">No Minimum Commitment. 30 Days’ Notice Required to Cancel.</p class="is-size-7">
                        <div class="btn-cta">
                            <script
                                src="https://widgets.healcode.com/javascripts/healcode.js"
                                type="text/javascript"
                            ></script>
                            <healcode-widget
                                data-version="0.2"
                                data-link-class="healcode-contract-text-link"
                                data-site-id="19952"
                                data-mb-site-id="678217"
                                data-type="contract-link"
                                data-inner-html="Buy Now"
                                data-contract-id="121"
                            ></healcode-widget>
                        </div>
                    </div>
                </div>
                <div class="pricing-card">
                    <div class="pricing-card_top">
                        <p>$105</p>
                        <h4>90 Minute Massage Membership</h4>
                    </div>
                    <div class="pricing-card_bottom">
                        <p class="is-size-7">One 90 Minute Massage / Month</p>
                        <p class="is-size-7">No Minimum Commitment. 30 Days’ Notice Required to Cancel.</p class="is-size-7">
                        <div class="btn-cta">
                            <script
                                src="https://widgets.healcode.com/javascripts/healcode.js"
                                type="text/javascript"
                            ></script>
                            <healcode-widget
                                data-version="0.2"
                                data-link-class="healcode-contract-text-link"
                                data-site-id="19952"
                                data-mb-site-id="678217"
                                data-type="contract-link"
                                data-inner-html="Buy Now"
                                data-contract-id="122"
                            ></healcode-widget>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="massage--teachers container section-spacing">
        <h2 class="txt-center is-size-3 mb25">Our Massage Therapists</h2>
        <div class="massage--teachers_wrapper">
            <div class="massage--individual">
                <div class="massage--individual-img">
                    <img src="/img/massage/brandi.jpg" class="team-image" alt="Brandi O’Rourke" />
                    <div id="brandi">
                        <div id="show-modal" @click="showModal = true" class="team--individual-name">
                            <h3>Brandi O’Rourke</h3>
                            <a>Learn More</a>
                        </div>
                        <!-- use the modal component, pass in the prop -->
                        <modal v-if="showModal" @close="showModal = false">
                            <div slot="body" class="modal-body-content">
                                <div class="modal-body-content_img">
                                    <img src="/img/massage/brandi-modal.jpg" alt="" class="img-responsive" />
                                </div>
                                <div class="modal-body-content_text">
                                    <h2>Brandi O’Rourke</h2>
                                    <p>
                                        Brandi is a Licensed Massage Therapist and Reiki Master with over 13 years’
                                        experience in high end spas, sports rehabilitation facilities and physical
                                        therapy clinics. She graduated from Mount Royal University in Calgary Alberta
                                        Canada with a degree in Massage Therapy and Bodywork. She also attended Wild
                                        Rose College of Natural Healing focusing her studies in the areas of Reiki,
                                        Chakra Balancing and Crystal Therapy. This where she gained a deep understanding
                                        of soft tissue manipulation, sports related injury rehabilitation and the body’s
                                        energy system. Most recently, Brandi has been certified in Ashiatsu (barefoot
                                        massage utilizing the therapist’s feet and body weight) by DeepFeet Bar Therapy.
                                    </p>
                                    <p>
                                        After working locally in the City of Calgary, Brandi took the opportunity to
                                        travel the world while working as a massage therapist aboard Norwegian Cruise
                                        Lines. During this time, she visited over 23 countries. Upon her return, Brandi
                                        accepted a position working alongside Physical Therapists and Chiropractors at a
                                        Rehabilitation center, providing therapeutic massage and specializing in deep
                                        tissue, myofascial release, pre and post-natal and trigger-point massage.
                                        Brandi’s active lifestyle enables her to understand the needs of clients
                                        practicing yoga and how to keep them healthy and pain-free.
                                    </p>
                                </div>
                            </div>
                        </modal>
                    </div>
                </div>
            </div>
            <div class="massage--individual">
                <div class="massage--individual-img">
                    <img src="/img/massage/na.jpg" class="team-image" alt="Victoria Thomas" />
                    <div id="victoria">
                        <div id="show-modal" @click="showModal = true" class="team--individual-name">
                            <h3>NaNa Byun</h3>
                            <a>Learn More</a>
                        </div>
                        <!-- use the modal component, pass in the prop -->
                        <modal v-if="showModal" @close="showModal = false">
                            <div slot="body" class="modal-body-content">
                                <div class="modal-body-content_img">
                                    <img src="/img/massage/na-modal.jpg" alt="" class="img-responsive" />
                                </div>
                                <div class="modal-body-content_text">
                                    <h2>NaNa Byun</h2>
                                    <p>
                                        Biography coming soon!
                                    </p>
                                </div>
                            </div>
                        </modal>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="massage--callout">
        <h3 class="txt-center">A special gift for first time massage clients</h3>
        <h2 class="txt-center">60 minute massage for only $60</h2>
        <p class="txt-center">(Use code FIRSTMASSAGE at checkout)</p>
        <div class="btn-cta has-margin-top-md">
            <script src="https://widgets.healcode.com/javascripts/healcode.js" type="text/javascript"></script>
            <healcode-widget
                data-version="0.2"
                data-link-class="healcode-pricing-option-text-link"
                data-site-id="19952"
                data-mb-site-id="678217"
                data-type="pricing-link"
                data-inner-html="Buy Now"
                data-service-id="10231"
            ></healcode-widget>
        </div>
    </section>
</main>
