.homepage--callout {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq (small) {
        height: 700px;
        background: url('/img/studio-meditating.jpg') no-repeat center center;
        background-size: cover;
    }

    .text-wrapper {
        color: #fff;
        text-align: left;

        >p {
            color: #333e48;
            font-size: 1rem;

            @include mq (small) {
                padding-right: 16.5em;
                font-size: 1.15rem;
                color: #fff;
                line-height: 1.5;
                font-weight: 400;
            }
        }
    }
}
