.homepage--callout {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/img/studio-meditating-mobile.jpg') no-repeat center center;
    background-size: cover;
    @include mq (small) {
        height: 500px;
        background: url('/img/studio-meditating.jpg') no-repeat center center;
        background-size: cover;
    }

    .text-wrapper {
        color: #fff;
        text-align: right;

        > p {
            font-size: 1rem;
            line-height: 1;
            @include mq (small) {
                padding-left: 16.5em;
                font-size: 1.25rem;
                line-height: 1.35;
            }
        }
    }
}
