.homepage--callout {
    margin-top: 18px;
    padding: 3rem 1.5rem;
    @include mq(small) {
        margin-top: 96px;
        padding: initial;
    }
    &-container {
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mq(small) {
            height: 800px;
            background: url('/img/homepage/testimonial-hero.jpg') no-repeat center center;
            background-size: cover;
        }
    }

    &_widget {
        max-height: 500px;
        margin: 2em auto 0;
        background: #fff;
        overflow-y: scroll;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        @include mq(small) {
            margin: initial;
            max-height: 675px;
        }
    }
}


.popup-box {
    padding: 1.45em;
    h2 {
        font-size: 24px;
        line-height: 1.25;
    }
    p {
        font-size: 20px;
    }
    small {
        display: block;
        margin-top: .65em;
        font-size: 12px;
    }
}

#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:hsl(257, 33%, 43%);
    display:none;
  }  
  #boxes .window {
    position:absolute;
    left:0;
    top:0;
    max-width: 600px;
    display:none;
    z-index:9999;
    padding:20px;
    border-radius: 15px;
    text-align: center;
  }
  #boxes #dialog {
    width:400px; 
    height:auto;
    padding:10px;
    background-color:#ffffff;
    font-size: 15pt;
  }
  .maintext{
    text-align: center;
    text-decoration: none;
  }
  .agree:hover{
    background-color: #D1D1D1;
  }
  .popupoption:hover{
      background-color:#D1D1D1;
      color: green;
  }
  .popupoption2:hover{
      
      color: red;
  }

  @media (min-width: 768px) {
    #boxes #dialog {
        width:600px; 
      }
  }