.homepage--begin {
    padding: 3rem 1.5rem;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mq(small) {
        padding: initial;
        margin-top: 96px;
        display: grid;
        gap: 48px;
        grid-template-columns: minmax(560px, 1fr) 2fr;
    }
    &-content {
        @include mq(small) {
            padding-left: calc(50% - 14em);
            align-self: center;
        }
    }
    p {
        margin-bottom: 48px;
    }
}

.homepage--massage {
    padding: 3rem 1.5rem;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mq(small) {
        padding: initial;
        margin-top: 96px;
        display: grid;
        gap: 48px;
        grid-template-columns: 2fr minmax(560px, 1fr);
    }
    &-content {
        @include mq(small) {
            padding-right: calc(50% - 14em);
            align-self: center;
        }
    }
    p {
        margin-bottom: 48px;
    }
}
