.homepage--events {
    position: relative;
    margin-top: 3em;
    @include mq (small) {
        margin-top: 10.5em;
    }

    &-info {
        width: 85%;
        margin: 0 auto;
        background: #fff;
        border-radius: 6px;
        @include mq (small) {
            position: absolute;
            top: -120px;
            left: 8%;
        }
    }

    &-item {
        display: flex;

        &-date {
            flex: 1 100px;
        }

        &-desc {
            flex: 2 500px;
        }
    }

    img {
        display: none;
        @include mq (small) {
            display: block;
        }
    }
}
