.homepage--hero {
    padding: 1rem 1.5rem;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include mq(medium) {
        padding: 3rem 0 3rem 1.5rem;
        display: grid;
        gap: 48px;
        grid-template-columns: minmax(610px, 1fr) 2fr;
    }
    &-content {
        padding-left: calc(50% - 12em);
        align-self: center;
    }
    &-img {
        margin-top: 2rem;
        @include mq(small) {
            margin-bottom: 0;
        }
    }
    p {
        margin-bottom: 12px;
        @include mq(small) {
            margin-bottom: 18px;
        }
    }
}

.homepage--header {
    margin-bottom: 18px;
    font-size: 32px;
    line-height: 1.25;
    font-weight: 500;
    color: #494a50;
    @include mq(small) {
        margin-bottom: 24px;
        font-size: 38px;
    }
}
