.homepage--intro {
    display: flex;

    &-text {
        flex: 2;

        > h2 {
            font-size: 2rem;
            line-height: 1.25;
        }

        > p {
            font-size: 1.15rem;
            line-height: 1.25;
        }
    }

    &-schedule {
        padding: 0 1em;
        flex: 1;
        border: 1px solid #dedede;

        .info_wrapper {
            font-size: 1rem;
        }
    }
}
