.homepage--pricing {
    &-wrapper {
        display: flex;
    }

    &-item {
        max-width: 500px;
        height: 500px;
        margin-left: .5em;
        margin-right: .5em;
        padding-left: 1em;
        padding-right: 1em;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:nth-of-type(1) {
            border: 1px solid $primary-green;
        }

        &:nth-of-type(2) {
            color: #fff;
            background-color: $primary-green;
        }

        > h3 {
            font-size: 2rem;
            margin-bottom: 1em;
        }

        > p {
            margin-top: 0.5em;
            margin-bottom: 0.5em;

            &:first-of-type {
                font-size: 3rem;
                letter-spacing: 1px;
            }

            &:nth-of-type(2) {
                font-size: 1.5rem;
            }
        }

        > div {
            margin-top: 2em;
        }
    }
}
